
/* common */
.underline {
  text-decoration: underline;
}
a.underline:hover {
  text-decoration: none;
}
iframe {
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .blog80 .grid__item {
    max-width: 100%;
    width: 100%;
  }
}
.pagetop {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 60px;
  z-index: 99;
  height: 50px;
  width: 50px;
}
@media screen and (max-width: 767px) {
  .pagetop {
    bottom: 20px;
    right: 10px;
  }
}
/* --------------------------------------------------------------

商品詳細（Sections/main-product.php）

--------------------------------------------------------------*/

/* 商品メイン画像 */
/* script.jsにswiper設定、main-product.liquidでswiper読み込み */
.swiper-container {
  overflow: hidden;
  position: relative;
}
..swiper-wrapper {
  padding-left: 0;
  list-style: none;
}
.slider-buttons {
	display: none !important;  
}
.thumblist {
  display: flex !important;
  flex-wrap: wrap;
  margin: 30px -1% -1%;
  padding: 0;
}
.thumblist .thumblist-item {
  width: 14.28%;
  padding: 1%;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 767px) {
  .thumblist {
   display: none !important;
  }
  .swiper-options {
    display: block;
  }
}
@media screen and (max-width: 767px) {
.swiper-container .deferred-media {
  display: none;
  /* スマホかつ動画のときに2つ出るからつけてる */
}
}

.swiper-options {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 14px;
}
@media screen and (min-width: 768px) {
  .swiper-options {
    display: none;
  }
}
.swiper-options * {
  position: static;
}
.swiper-options .swiper-pagination {
  font-size: 10px;
  width: 70px;
}
.swiper-options .swiper-button-prev,
.swiper-options .swiper-button-next {
  background-image: none;
  position: relative;
  width: 24px;
  height: 6px;
  display: flex;
  justify-content: center;
  /*top: 15px;*/
  
}
.swiper-options .swiper-button-prev {
  top: 14px;
}
.swiper-options .swiper-button-next {
  top: 9px;
}
.swiper-options .swiper-button-prev::before,
.swiper-options .swiper-button-next::before {
	content: ' ';
  	display: inline-block;
    width: 6px;
    height: 6px;
    border: 1px solid;
	border-color:  transparent transparent #4d4d4d #4d4d4d;
	transform: rotate(45deg) translateY(-5px);
}
.swiper-options .swiper-button-next::before {
  transform: rotate(-135deg) translateY(-50%);
}
.swiper-options .swiper-button-prev::after,
.swiper-options .swiper-button-next::after {
	content: none;
}
.product__description {
   width: 620px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.product-explain-block .movie-wrap {
  width: 620px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.product-explain-block .movie-item {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
.product-explain-block .movie-item iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}
.product-explain-block-wrap {
  width: 620px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.thumblist .thumblist-item .product__media-icon,
.thumblist .thumblist-item .product__media-toggle{
  display: none;
}

/* 商品メイン説明ブロック */
.product__text + .product__title {
  margin-top: 10px !important;
}
.tag-list {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
}
.tag-list .list-child {
  padding: 5px;
  display: flex;
}
.tag-span {
  background-color: #e6e6e5;
  min-width: 70px;
  text-align: center;
  padding: 2px 10px;
  display: inline-block;
  font-size: 10px;
  text-decoration: none;
  color: #121212;
}
.button.-bg-black {
  background-color: #000;
  color: #fff;
  font-size: 1.4rem;
}
.button.-bg-black:hover {
  background-color: transparent;
  color: #000;
}

.button.-bg-black:disabled,
.button.-bg-black[aria-disabled=true],
.button.disabled.-bg-black,
.customer button.-bg-black:disabled,
.customer button.-bg-black[aria-disabled=true],
.customer button.-bg-black.disabled {
  background-color: #fff;
  border-color: #999899;
  color: #b3b3b3;
}
.button.-bg-black:disabled:hover,
.button.-bg-black[aria-disabled=true]:hover,
.button.disabled.-bg-black:hover,
.customer button.-bg-black:disabled:hover,
.customer button.-bg-black[aria-disabled=true]:hover,
.customer button.-bg-black.disabled:hover {
  background-color: #fff;
  border-color: #999899;
  color: #b3b3b3;
}
.product__title {
  font-size: 2.6rem;
}
@media screen and (max-width: 767px) {
  .product__title {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 750px) {
  .product__info-wrapper {
    padding-left: 3rem;
  }
}
@media screen and (min-width: 990px) {
  .product--large:not(.product--no-media) .product__media-wrapper {
    max-width: 54% !important;
  }
  .product--large:not(.product--no-media) .product__info-wrapper {
        max-width: 46% !important;
  }
}

.product-form__buttons {
  max-width: 100% !important;
}
button#BIS_trigger {
	background-color: #e6e6e5;
	border: 1px solid;
	border-color:  #999899;
	cursor: pointer;
	outline: none;
	padding: 0;
	appearance: none;
    transition: all 0.4s;
	height: 47px;
	font-size: 1.4rem;
	margin-top: 0 !important;
}
button#BIS_trigger:hover {
	background-color: #fff;
    transition: all 0.3s;
}
.multicolumn-list p {
  font-size: 1.4rem;
}
/* 商品説明 */
.product-explain-block + .product-explain-block {
  margin-top: 100px;
}
.product-explain-block h2 {
  	border-bottom: 1px solid #000;
  	font-size: 2.8rem;
  	padding-bottom: 1rem;
}
/* 2022.06.01追加ここから */
.product__description h3 {
  	border-left: 2px solid #000;
  	padding-left: 1rem;
}
.product__description .txtbox h3 {
  	border-left: none;
  	padding-left: 0;
}
/* 2022.06.01追加ここまで */
.product-explain-block img {
	display: block;
	height: auto;
  	width: 620px;
	max-width: 100%;
  	margin-right: auto;
  	margin-left: auto;
	 margin-top: 60px;
}
.product-explain-block p {
  font-size: 1.4rem;
  width: 620px;
  max-width: 100%;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .product-explain-block + .product-explain-block {
    margin-top: 60px;
  }
  .product-explain-block h2 {
      font-size: 1.8rem;
  }
  .product-explain-block img {
       margin-top: 20px !important;
  }
  .product-explain-block p {
      margin-top: 20px;
  }
}
.product-introduction {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
.product-introduction .buy-set-in-introduction{
  order: 1;
}
.product-last-cart-block {
      width: 620px;
      max-width: 100%;
	  margin: 80px auto 0;
}
/* 商品説明バナー */
.product-introduction-bnr {
  margin-top: 60px;
}
.product-introduction-bnr .link {
	display: flex;
  flex-wrap: wrap;
	background-color: #e6e6e5;
  transition: all 0.4s;
}
.product-introduction-bnr .link:hover {
	background-color: #d5e2dc;
  transition: all 0.4s;
}
.product-introduction-bnr .imgbox-outer {
  width: 28%;
}
.product-introduction-bnr .txtbox {
  width: 72%;
  padding: 3%;
}
.product-introduction-bnr .imgbox {
  width: 100%;
  height: 100%;
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* 2022.06.13追加ここから */
  display:block;
  /* 2022.06.13追加ここまで */
}
.product-introduction-bnr h3 {
	font-size: 2rem;
}
.product-introduction-bnr p {
	font-size: 1.4rem;
}
@media screen and (max-width: 991px) {
  .product-introduction-bnr {
    margin-top: 40px;
  }
  .product-introduction-bnr .imgbox-outer {
    width: 37%;
  }
  .product-introduction-bnr .txtbox {
    width: 63%;
  }
   .product-introduction-bnr h3 {
      font-size: 2rem;
     margin-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  .product-introduction-bnr .link {
	flex-direction: column;
  }
  .product-introduction-bnr .imgbox-outer {
    width: 100%;
  }
  .product-introduction-bnr .txtbox {
    padding: 3% 15px;
    width: 100%;
  }
  .product-introduction-bnr h3 {
      font-size: 1.8rem;
  }
}

.subscription-select-list {
  list-style: none !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -5.6% !important;
}

.subscription-select-list .list-child {
  width: 50%;
  padding: 5.6%;
}

@media screen and (max-width: 991px) {
  .subscription-select-list .list-child {
    width: 100%;
  }
}

.wrap-subsc-narrow {
  max-width: 490px;
  margin-right: auto;
  margin-left: auto;
}

.wrap-subsc-narrow-02 {
  justify-content: space-evenly;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .wrap-subsc-narrow-02 {
  justify-content: space-between;
  }
}

.attention-list {
  list-style: none !important;
}

@media screen and (max-width: 767px) {
  .attention-list {
    margin-left: 14px !important;
  }
}

.attention-list .list-child {
  position: relative;
  padding-left: 1em;
  text-indent: 0;
  font-size: 14px;
}

.attention-list .list-child::before {
  content: '*';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
}

.subscription-plan-btn {
  border-radius: 60px;
  padding: 34px 50px 70px;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 767px) {
  .subscription-plan-btn {
    padding: 25px 50px 50px;
    border-radius: 40px;
  }
}

.subscription-plan-btn:hover {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.subscription-plan-btn.-basic {
  background-color: #deecd9;
}

.subscription-plan-btn.-basic:hover {
  background-color: #d2e5ca;
}

.subscription-plan-btn.-gokigen {
  background-color: #fcedcc;
}

.subscription-plan-btn.-gokigen:hover {
  background-color: #f7e0b2;
}

.subscription-plan-btn::before {
  content: ' ';
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 41px;
  height: 41px;
  position: absolute;
  left: 30px;
  top: 18px;
}

@media screen and (max-width: 767px) {
  .subscription-plan-btn::before {
    width: 31px;
    height: 31px;
    left: 20px;
  }
}

.subscription-plan-btn:not(.-current)::before {
  background-image: url(https://cdn.shopify.com/s/files/1/0440/0637/5579/files/ic-check.png?v=1649064973);
}

.subscription-plan-btn.-current::before {
  background-image: url(https://cdn.shopify.com/s/files/1/0440/0637/5579/files/ic-checked.png?v=1649064973);
}

.subscription-plan-btn .plan-name {
  font-size: 22px !important;
  margin-bottom: 22px !important;
}

.subscription-plan-btn p {
  line-heigt: 2.2;
}

.subscription-plan-btn .imgbox {
  width: 157px;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .subscription-plan-btn .imgbox {
    width: 140px;
  }
}

.orange-btn {
  background-color: #F8B62D !important;
  width: 490px;
  max-width: 100%;
  color: #fff !important;
  padding: 16px 25px !important;
  border-radius: 8px;
  font-size: 28px;
  border-radius: 100px;
  display: block;
  font-weight: bold;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 767px) {
  .orange-btn {
    width: calc(100% - 12px);
    padding: 8px 25px !important;
    font-size: 14px;
  }
}

.orange-btn.-small {
  font-size: 18px;
  padding: 20px 5px !important;
  margin: 0;
  width: 100%;
  line-height: 1.2;
  letter-spacing: .0em;
}

@media screen and (max-width: 767px) {
  .orange-btn.-small {
    font-size: 14px;
    padding: 6px 5px !important;
  }
}

.orange-btn:hover {
  background-color: #F5AB11 !important;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.orange-btn-02 {
  background-color: #F8B62D !important;
  width: 300px;
  max-width: 100%;
  color: #fff !important;
  padding: 16px 40px 16px 25px !important;
  border-radius: 8px;
  font-size: 28px;
  border-radius: 100px;
  display: block;
  font-weight: bold;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 767px) {
  .orange-btn-02 {
    width: 100%;
    padding: 16px 30px !important;
    font-size: 16px;
    padding: 16px 35px 16px 20px !important;
  }
}

.orange-btn-02.-small {
  font-size: 18px;
  padding: 20px 5px !important;
  margin: 0;
  width: 100%;
  line-height: 1.2;
  letter-spacing: .0em;
}

@media screen and (max-width: 767px) {
  .orange-btn-02.-small {
    font-size: 14px;
    padding: 6px 5px !important;
  }
}

.orange-btn-02:hover {
  background-color: #f2a506 !important;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

 .orange-btn-02:after ,  .red-btn:after{
    position:absolute;
    top: 50%;
    transform: translateY(-50%)rotate(90deg);
    right: 25px;
    display: block;
    font-size: .6em;
    content: "▲";
 }
@media screen and (max-width: 767px) {
  .orange-btn-02:after ,  .red-btn:after{
    right: 15px;
  }
}

.red-btn {
  background-color: #c76262 !important;
  width: 300px;
  max-width: 100%;
  color: #fff !important;
  padding: 16px 40px 16px 25px !important;
  border-radius: 8px;
  font-size: 28px;
  border-radius: 100px;
  display: block;
  font-weight: bold;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 767px) {
  .red-btn {
    width: 100%;
    padding: 16px 30px !important;
    font-size: 16px;
    padding: 16px 35px 16px 20px !important;
  }
}

.red-btn.-small {
  font-size: 18px;
  padding: 20px 5px !important;
  margin: 0;
  width: 100%;
  line-height: 1.2;
  letter-spacing: .0em;
}

@media screen and (max-width: 767px) {
  .red-btn.-small {
    font-size: 14px;
    padding: 6px 5px !important;
  }
}

.red-btn:hover {
  background-color: #d04141 !important;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.subsc-floating-bnr .orange-btn-02 , .subsc-floating-bnr .red-btn {
  width:350px;
}

@media screen and (max-width: 767px) {
  .subsc-floating-bnr .orange-btn-02 , .subsc-floating-bnr .red-btn {
  width:100%;
}
}

.lightpink-btn {
  background-color: #FA8072 !important;
  width: 490px;
  max-width: 100%;
  color: #fff !important;
  padding: 16px 25px !important;
  border-radius: 8px;
  font-size: 28px;
  border-radius: 100px;
  display: block;
  font-weight: bold;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 767px) {
  .lightpink-btn {
    width: calc(100% - 12px);
    padding: 8px 25px !important;
    font-size: 14px;
  }
}

.lightpink-btn.-small {
  font-size: 18px;
  padding: 20px 5px !important;
  margin: 0;
  width: 100%;
  line-height: 1.2;
  letter-spacing: .0em;
}

@media screen and (max-width: 767px) {
  .lightpink-btn.-small {
    font-size: 14px;
    padding: 6px 5px !important;
  }
}

.lightpink-btn:hover {
  background-color: #FA8072 !important;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.green-btn {
  background-color: #7DBA63 !important;
  width: 490px;
  max-width: 100%;
  color: #fff !important;
  padding: 16px 25px !important;
  border-radius: 8px;
  font-size: 28px;
  border-radius: 100px;
  display: block;
  font-weight: bold;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 767px) {
  .green-btn {
    width: calc(100% - 12px);
    padding: 8px 25px !important;
    font-size: 14px;
  }
}

.green-btn.-small {
  font-size: 18px;
  padding: 20px 5px !important;
  margin: 0;
  width: 100%;
  line-height: 1.2;
  letter-spacing: .0em;
}

@media screen and (max-width: 767px) {
  .green-btn.-small {
    font-size: 14px;
    padding: 6px 5px !important;
  }
}

.green-btn:hover {
  background-color: #64C33C !important;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.sky-blue-btn {
  background-color: #63CBC7 !important;
  width: 490px;
  max-width: 100%;
  color: #fff !important;
  padding: 16px 25px !important;
  border-radius: 8px;
  font-size: 28px;
  border-radius: 100px;
  display: block;
  font-weight: bold;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 767px) {
  .sky-blue-btn {
    width: calc(100% - 12px);
    padding: 8px 25px !important;
    font-size: 14px;
  }
}

.sky-blue-btn.-small {
  font-size: 18px;
  padding: 20px 5px !important;
  margin: 0;
  width: 100%;
  line-height: 1.2;
  letter-spacing: .0em;
}

@media screen and (max-width: 767px) {
  .sky-blue-btn.-small {
    font-size: 14px;
    padding: 6px 5px !important;
  }
}

.sky-blue-btn:hover {
  background-color: #25C9C3 !important;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.ma-auto {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .ma-auto-sp {
    margin-right: auto;
    margin-left: auto;
  }
}

.blue {
  color: #6394F0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.blue:hover {
  text-decoration: none;
  color: #6394F0 !important;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.-e-opacity {
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.-e-opacity:hover {
  opacity: 0.7;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.subsc-lp-box {
  text-align: center;
  padding: 1.5% 3%;
}

@media screen and (max-width: 767px) {
  .subsc-lp-box {
    padding: 3% 6%;
  }
}

.bg-pale-orange {
  background-color: #FFF2D9;
}

.bg-neon-pale-green {
  background-color: #E9FFD9;
}

.ttl-feature {
  text-align: center;
  background-color: #FCE0AD;
  padding: 3%;
}

@media screen and (max-width: 767px) {
  .ttl-feature {
    padding: 6%;
  }
}

.subsc-floating-bnr {
  width: 100%;
  position: fixed;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 10px;
  left: 50%;
  padding: 0 22px;
}

.subsc-select-plans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.subsc-select-plan-outer {
  width: 50%;
  padding: 4%;
}

.small-detail-btn {
  border-radius: 4px;
  padding: 7px 5px !important;
  text-decoration: none;
  border: 1px solid #595d5f;
  display: inline-block;
  font-size: 12px;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 767px) {
  .small-detail-btn {
    font-size: 10px;
  }
}

.small-detail-btn:hover {
  opacity: 0.7;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.simple-list {
  list-style: none !important;
  margin: 0 !important;
}

.bold {
  font-weight: bold;
}

.bold-off {
  font-weight: normal;
}

.ofi {
  width: 100%;
  max-width: 100%;
}
.ofi.-cover {
	object-fit: cover;
    object-position: center;
    font-family: 'object-fit: cover; object-position: center;'
}
.ofi.-contain {
    @include ofi-contain;
	object-fit: contain;
    object-position: center;
    font-family: 'object-fit: contain; object-position: center;'
}

/* ここから下EC事業部のみなさん好きに触ってください */
/* 送料無料 */
.top-fixed-bnr {
  padding: 5px;
  background-color: darkseagreen;
}

@media screen and (max-width: 767px) {
  .top-fixed-bnr {
    /* スマホは別で設定したい場合ここに追加してください */
  }
}

.top-fixed-bnr .freeShipping-txt {
  font-size: 15px;
  color: white;
}

@media screen and (max-width: 767px) {
  .top-fixed-bnr .freeShipping-txt {
    /* スマホは別で設定したい場合ここに追加してください */
    line-height: 1.4;
    height: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.top-fixed-bnr .shippingCharges-txt {
  font-size: 15px;
  color: white;
}

@media screen and (max-width: 767px) {
  .top-fixed-bnr .shippingCharges-txt {
    /* スマホは別で設定したい場合ここに追加してください */
    line-height: 1.4;
    height: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#shopify-section-header {
  /*padding-top: 27px;
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;*/
}

@media screen and (max-width: 767px) {
  #shopify-section-header {
    /* スマホは別で設定したい場合ここに追加してください */
    /*padding-top: 42px;*/
  }
}

.template-cart .top-fixed-bnr {
  font-size: 20px;
  padding: 10px;
  background-color: #f0a460;
  color: #34495b;
}

@media screen and (max-width: 767px) {
  .template-cart .top-fixed-bnr {
    /* スマホは別で設定したい場合ここに追加してください */
  }
}

.template-cart .top-fixed-bnr .freeShipping-txt {
  font-size: 15px;
  color: white;
}

@media screen and (max-width: 767px) {
  .template-cart .top-fixed-bnr .freeShipping-txt {
    /* スマホは別で設定したい場合ここに追加してください */
  }
}

.template-cart .top-fixed-bnr .shippingCharges-txt {
  font-size: 19px;
  color: white;
}

@media screen and (max-width: 767px) {
  .template-cart .top-fixed-bnr .shippingCharges-txt {
    font-size: 12px;
    /* スマホは別で設定したい場合ここに追加してください */
  }
}

.template-cart #shopify-section-header {
  /*padding-top: 47px;*/
}

@media screen and (max-width: 767px) {
  .template-cart #shopify-section-header {
    /* スマホは別で設定したい場合ここに追加してください */
  }
}

.blog80 {
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .blog80 {
    width: 100%;
  }
}

.blog80 img {
  width: 100%;
}

.blog80 h2 {
  border-bottom: solid 1px #595d5f;
  padding-bottom: 10px;
  padding-top: 40px;
}

.blog80 h3 {
  border-bottom: dotted 1px #ccc;
  padding-bottom: 10px;
  padding-top: 20px;
}

.blog80 .index {
  margin: 40px 0;
  padding: 20px 40px;
  background-color: #f8f8f8;
}

.blog80 .index ul {
  padding: 40px;
}

.blog80 .credit {
  border-top: dotted 1px #ccc;
  border-bottom: dotted 1px #ccc;
  padding: 10px 0;
  margin-bottom: 30px;
}

.blog80 .staff {
  border-top: dotted 1px #ccc;
  border-bottom: dotted 1px #ccc;
  padding: 10px 0;
  margin-bottom: 30px;
  font-size: 0.8em;
}

.blog80 .staff .border {
  border-top: dotted 1px #ccc;
  margin: 10px 0;
}

.blog80 .staff .staff-img {
  width: 60px;
  float: left;
  margin-right: 20px;
}

.blog80 .staff .auther {
  font-weight: bold;
}
a {
  text-decoration: none;
}

/* ブログ */
.blog-articles__article .card__inner {
  height: 0;
  padding-top: 100%;
}
@media screen and (max-width: 767px) {
  .page-width-sp-full {
    padding: 0;
  }
}


/* register */
.customer-birthday .grid__item {
  border: 1px solid #121212;
}
.customer-birthday .grid__item select {
  margin: 0;
}

.youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
.youtube iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}
.multicolumn-card__info a {
  text-decoration: underline;
  transition: all 0.4s;
}
.multicolumn-card__info a:hover {
  text-decoration: none;
  text-decoration-thickness: 0 !important;
  transition: all 0.3s;
}
.back-movie-block {
	position: relative;
	overflow: hidden;
  
}
.parallax {
  	position: relative;
	overflow: hidden;
	padding-top: 100vh;
	z-index: -1;
}
.parallax video {
      object-fit: cover;
      object-position: center;
      font-family: 'object-fit: cover; object-position: center;';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      position: fixed;
}

/* fvスライダー */
.fv-wrap {
  position: relative;
  /*margin-bottom: 40px;*/
}
.swiper-fv-container {
  overflow: hidden;
}
.fv-img-wrapper {
  width: 100%;
}
.fv-img-wrapper .fv-slider {
  padding-top: 52.71%;
  background-color: #fff;
}
.fv-img-wrapper .fv-slider .ofi {
      object-fit: cover;
      object-position: center;
      font-family: 'object-fit: cover; object-position: center;';
    
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
}
.swiper-pagination {
  z-index: 1;
}
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 20px;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}
.fv-wrap .swiper-slide .link {
  background-color: #fff;
}
.fv-wrap .swiper-slide .link .fv-slider .ofi {
  transform: scale(1);
  transition: all .3s;
}
.fv-wrap .swiper-slide .link:hover .fv-slider .ofi {
  transform: scale(1.03);
  transition: all .4s;
}
.fv-wrap .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #fff;
  position: relative;
}
.fv-wrap .swiper-pagination-bullet::after {
  content: '';
  width: 19px;
  height: 19px;
  border-radius: 10px;
  border: 1px solid #fff;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
}
.fv-wrap .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  opacity: 1;
}
.fv-wrap .swiper-pagination-bullet:not(.swiper-pagination-bullet-active)::after{
  opacity: 0;
  transition: all .3s;
}
.fv-wrap .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  opacity: 1;
  transition: all .4s;
}

.link.-e-opacity {
    transition: all 0.4s;
}
.link.-e-opacity:hover {
  	opacity: .7;
    transition: all 0.3s;
}
@media screen and (max-width: 759px) {
  .fv-img-wrapper .fv-slider {
    padding-top: 100%;
  }
    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 8px;
    }
  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
     bottom: 15px; 
  }
  .fv-wrap .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
  .fv-wrap .swiper-pagination-bullet::after {
      width: 15px;
      height: 15px;
  }
}


/* blog見出し等 */
.list-style-none {
  list-style: none;
  padding: 6% !important;
}
li > .list-style-none {
  padding: 10px 6% 0 !important;
}
@media screen and (max-width: 759px) {
  .index > .list-style-none {
    padding: 0 !important;
  }
}