.card-product {
    position: relative;

    &__link {
        display: block;
        text-decoration: none;
        color: inherit;
    }

    &__image-wrapper {
        position: relative;
        overflow: hidden;
        background-color: #f5f5f5;
        aspect-ratio: 270 / 353;

        &:hover{
            .card-product__image--primary {
                opacity: 0;
            }
            .card-product__image--secondary {
                opacity: 1;
            }
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.4s ease;
        }
    }

    &__image--secondary {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    &__badges {
        position: absolute;
        top: 1rem;
        left: 1rem;
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        font-family: var(--font-body-family);
        &:has(.card-product__rank){
            top: 0;
            left: 1.5rem;
        }
    }

    &__badge {
        font-size: 1.2rem;
        padding: .8rem 1rem;
        color: #fff;
        border-radius: 100vmax;
        line-height: 1;

        &--sold-out {
            background-color: #888;
        }

        &--sale {
            background-color: #de9814;
        }

    }

    &__info {
        font-family: var(--font-body-family);
        color: #4c4c4c;
        padding-top: 2rem;

        &-head{
            display: flex;
            align-items: baseline;
            flex-wrap: wrap;
            gap: 10px;
            margin-bottom: 1.5rem;
        }
    }

    &__title {
        font-size: 1.7rem;
        font-family: var(--font-body-family);
        margin: 0;
        line-height: 1;

        @media (min-width: 992px){
            font-size: 2.1rem;
        }
    }

    &__meta {
        font-size: 1.6rem;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1;
    }

    &__features {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-block: 1.5rem 3rem;
    }

    &__feature-tag {
        display: inline-block;
        font-size: 1.2rem;
        padding: .5rem 1.6rem .6rem;
        background-color: #e3e3e3;
        line-height: 1;
    }

    &__price {
        font-size: 1.8rem;
        line-height: 1;
        font-weight: bold;

        @media (min-width: 992px){
            font-size: 2rem;
        }
    }
}

.card-product__rank {
    color: #fff;
    font-size: 1.6rem;
    line-height: 1;
    width: 36px;
    aspect-ratio: 18 / 23;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 100%;
        height: 0;
        width: 0;
        border-bottom: 8px solid transparent;
    }
}

:root{
    --ranking-first-bg: #de9814;
    --ranking-second-bg: #bdbdbd;
    --ranking-third-bg: #c2966c;
    --ranking-force-bg: #595757;
}

.product-slider__swiper{

    .swiper-slide{
        &:first-child{
            .card-product__rank{
                background-color: var(--ranking-first-bg);
                &::after{
                    border-left: 18px solid var(--ranking-first-bg);
                    border-right: 18px solid var(--ranking-first-bg);
                }
            }
        }
        &:nth-child(2){
            .card-product__rank{
                background-color: var(--ranking-second-bg);
                &::after{
                    border-left: 18px solid var(--ranking-second-bg);
                    border-right: 18px solid var(--ranking-second-bg);
                }
            }
        }
        &:nth-child(3){
            .card-product__rank{
                background-color: var(--ranking-third-bg);
                &::after{
                    border-left: 18px solid var(--ranking-third-bg);
                    border-right: 18px solid var(--ranking-third-bg);
                }
            }
        }
        &:nth-child(4){
            .card-product__rank{
                background-color: var(--ranking-force-bg);
                &::after{
                    border-left: 18px solid var(--ranking-force-bg);
                    border-right: 18px solid var(--ranking-force-bg);
                }
            }
        }
        &:nth-child(n + 5) {
            .card-product__rank {
                display: none; // ランキングバッジを非表示にする
            }
        }
    }
}

