.featured-grid {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background-color: #fff;

    &__title-wrapper {
        text-align: center;
        margin-bottom: 4rem;
        position: relative;
    }

    &__heading {
        font-size: 2rem;
        position: relative;
        z-index: 2;
    }

    &__subheading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 7rem;
        font-weight: bold;
        color: #f4f5f5;
        z-index: 1;
        white-space: nowrap;
        user-select: none;

        @media (max-width: 749px) {
            font-size: 4rem;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr;

        @media (min-width: 750px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__item {
        display: block;
        position: relative;
        overflow: hidden;
        aspect-ratio: 683 / 432;
        text-decoration: none;
    }

    &__image-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.4s ease;
        }
    }

    &__item:hover img {
        transform: scale(1.05);
    }

    &__content {
        position: absolute;
        z-index: 2;
        padding: 2rem;
        color: #fff;
        display: flex;
        align-items: flex-end !important;
        gap: 10px;
        font-family: var(--font-heading-family);

        @media (min-width: 992px) {
            padding: 3rem 4rem;
        }

        &--top-left {
            top: 0;
            left: 0;
        }
        &--top-center {
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        &--top-right {
            top: 0;
            right: 0;
        }
        &--center-left {
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
        &--center-center {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
        &--center-right {
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
        &--bottom-left {
            bottom: 0;
            left: 0;
        }
        &--bottom-center {
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        &--bottom-right {
            bottom: 0;
            right: 0;
        }
    }

    &__content-txt {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__pre-heading {
        font-size: 1.4rem;
        margin: 0;
        line-height: 1;

        @media (min-width: 768px) {
            font-size: 1.6rem;
        }

        @media (min-width: 992px) {
            font-size: 1.8rem;
        }
    }

    &__item-heading {
        font-size: 2.2rem;
        margin: 0;
        color: #fff;
        line-height: 1;
        text-wrap: balance;

        @media (min-width: 768px) {
            font-size: 2.4rem;
        }

        @media (min-width: 992px) {
            font-size: 2.6rem;
        }

        @media (min-width: 1200px) {
            font-size: 3.2rem;
        }
    }

    &__content-arrow {
        position: relative;
        display: block !important;

        &::before {
            content: '';
            display: block;
            width: 35px;
            aspect-ratio: 1;
            background-color: transparent;
            backdrop-filter: blur(10px);
            border: solid 1px #fff;
            border-radius: 50%;
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 47%;
            transform: translate(-50%, -50%) rotate(45deg);
            width: 5px;
            height: 5px;
            border-top: 1px solid #fff;
            border-right: 1px solid #fff;
        }
    }
}
