.featured-news-section{
    background-color: #fff;
}

.featured-news {
    padding-top: var(--section-padding-top-mobile);
    padding-bottom: var(--section-padding-bottom-mobile);

    @media (min-width: 750px) {
        padding-top: var(--section-padding-top-desktop);
        padding-bottom: var(--section-padding-bottom-desktop);
    } 

    .section-title{
        margin-bottom: -3rem;
        @media (max-width:749px){
            margin-bottom: -1rem;
        }
    }

    &__list {
        background-color: #f4f5f5;
        padding: 8rem 10rem;

        @media (max-width: 749px) {
            padding: 1.5rem 3rem;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 3.5rem 0;
        text-decoration: none;
        color: inherit;
        border-bottom: 1px dotted #ccc;

        &:last-child {
        border-bottom: none;
        }

        @media (max-width: 749px) {
            flex-wrap: wrap;
            gap: 1rem;
            padding: 2rem 0;
        }
    }

    &__date {
        font-size: 1.4rem;
        color: #888;
        flex-shrink: 0;
    }

    &__tag {
        font-size: 1.2rem;
        background-color: #fff;
        border-radius: 100vmax;
        padding: .1rem 1rem;
        flex-shrink: 0;
    }

    &__title {
        font-size: 1.6rem;
        font-weight: normal;
        margin: 0;
        line-height: 1.6;
        flex-grow: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;

        @media (max-width: 749px) {
            width: 100%;
        }
    }

    &__button-wrapper {
        text-align: center;
        margin-top: 4rem;
    }
}