.pickup-grid-section {
    background-color: var(--section-background-color);
}

.pickup-grid {
    padding-top: var(--padding-top-mobile);
    padding-bottom: var(--padding-bottom-mobile);
    @media (min-width: 750px) {
        padding-top: var(--padding-top-desktop);
        padding-bottom: var(--padding-bottom-desktop);
    }

    &__title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 3rem;
    }

    &__grid {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr); // スマホは2列

        @media (min-width: 750px) {
        grid-template-columns: repeat(4, 1fr); // PCは4列
        }
    }

    &__item-link{
        text-decoration: none;

        &:hover{
            .pickup-grid__item-image{
                img{
                    transform: scale(1.1);
                }
            }
        }
    }

    &__item-image {
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            transition: .3s ease;
        }
    }
}
