.ranking-slider-section {
    overflow: hidden;
}

.ranking-slider {
    position: relative;
    padding-top: var(--padding-top-mobile);
    padding-bottom: var(--padding-bottom-mobile);

    @media (min-width: 750px) {
        padding-top: var(--padding-top-desktop);
        padding-bottom: var(--padding-bottom-desktop);
    }

    &__swiper{
        overflow: unset !important;
    }

    &__title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;

        // section-titleコンポーネントのスタイルを上書き
        .section-title {
            margin-bottom: 0;
            padding: 0;
            text-align: left;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        background-color: #fff;
        border-radius: 50%;
        border: 1px solid #5a5c5e;
        top: 40%; // カードの中央あたりに配置

        &::after {
            font-size: 1rem;
            font-weight: bold;
            color: #5a5c5e;
        }

        &:hover {
            background-color: #f5f5f5;
        }

        &.swiper-button-disabled{
            opacity: 0;
            visibility: hidden;
        }
    }

    // 位置調整
    .swiper-button-prev {
        left: 0;
    }
    .swiper-button-next {
        right: 0;
    }
}

// ランキング番号のバッジ
.ranking-card {
    // 親要素にこれを指定することで、中の要素の位置基準となる
    &__image-wrapper {
        position: relative;
    }

    &__rank {
        position: absolute;
        top: 0;
        left: 1.5rem;
        z-index: 3; // バッジより手前に
        background-color: #c1a473;
        color: #fff;
        font-size: 1.6rem;
        font-weight: bold;
        line-height: 1;
        padding: 2rem 1rem 0.5rem;

        // リボン風の切り込み
        &::after {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 18px 0 18px;
            border-color: #c1a473 transparent transparent transparent;
        }
    }
}